---
name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The next iteration version. This workflow will automatically perform the required version bumps"
        required: true

permissions:
  contents: read

env:
  # Ref: https://docs.astral.sh/uv/concepts/projects/sync/#checking-if-the-lockfile-is-up-to-date
  UV_FROZEN: "true"

concurrency:
  group: ${{ github.workflow }}

jobs:
  ci:
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/ci.yml
    secrets: inherit

  release:
    runs-on: ubuntu-24.04
    needs:
      - ci
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          pattern: temply-tarball-*
          merge-multiple: true
          path: dist

      - uses: actions/download-artifact@v7
        with:
          pattern: temply-package-*
          merge-multiple: true
          path: dist

      - name: Install environment
        uses: ./.github/workflows/env-install

      - name: Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: uv run poe release

  post-release:
    needs:
      - release
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup github actions bot
        uses: ./.github/workflows/setup-github-bot

      - name: Install environment
        uses: ./.github/workflows/env-install

      - name: Run post-release step
        run: uv run poe release:post
        env:
          GH_TOKEN: ${{ github.token }}
          NEXT_VERSION: ${{ inputs.version }}
